<h1>Logged in!</h1>

<img ng-src="{{currentUser.picture}}"/>




<h2>Current User is {{currentUser}}</h2>


 
    
  <modal title="showPage" visible="showModal"></modal>
  

<div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">


<h4>{{alertMessage}}</h4>
</div>

<div class="btn-toolbar">
  
  <div class="btn-group">
      <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar3')">AgendaDay</button>
      <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar3')">AgendaWeek</button>
      <button class="btn btn-success" ng-click="changeView('month', 'myCalendar3')">Month</button>
  </div>
</div>


<div class="calendar" ng-model="eventSources2" calendar="myCalendar3" ui-calendar="uiConfig.calendar" ng-show="calendarVisible"></div>



<div ng-hide="calendarVisible" class="show-page">

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
  
  <h1>HERE IS THE SHOW PAGE!!!</h1>
</div>


<button ng-click="showAddForm()" ng-hide="addFormVisible" class="btn btn-primary">ADD LOG</button>

<add-log-form ng-show="addFormVisible"></add-log-form>


<h4>THE FORECAST</h4>

<button ng-click="apiCall()" class="btn btn-success">API</button>

{{forecast.data}}


<h3>Logs</h3>

{{logs}}



<a href="/logout">Logout</a>


     
        <pre class="prettyprint linenums">

