<h1>Hi!</h1>

<button ng-click="authenticate('facebook')">Sign in with Facebook</button>

<h1>Login!</h1>

<div ng-show="errors">
  {{errors}}
</div>
<form method="POST" id="loginform" ng-submit="login(user)">
  <label for="email">Email: </label>
  <input type="text" ng-model="user.email" name="email" id="email">
  <label for="password">Password: </label>
  <input type="password" ng-model="user.password" name="password" id="password">
  <input type="submit" value="Log In">
</form>

Don't have an account? Sign Up <a id="signuplink" href="/signup">here</a>
<br>
<br>
<br>

<a href="http://magicseaweed.com"><img src="http://im-1-uk.msw.ms/msw_powered_by.png"></a>