<div class="modal fade"> 
          <div class="modal-dialog"> 
            <div class="modal-content"> 
              <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
                <div class="modal-title">
                      <span id="showTitle">{{log.spot_name}}  </span>
                    <span>  {{log.date | date}}    </span>
                    <span class="msw-sw msw-sw-{{log.forecast.condition.weather}}"></span>
              </div> 
            </div> 

              <div class="modal-body">
                <!--  <span><img src="http://icons.iconarchive.com/icons/fasticon/beach/128/wave-icon.png" id="waveIcon"></span> -->
                 <span class="waveHt">{{log.forecast.swell.minBreakingHeight}} - {{log.forecast.swell.maxBreakingHeight}} ft</span>
                 <div id="ratingContainer"></div>


                
                  
                  
                
                  
                



                  <div>
                    <p style="font-style:italic">{{log.description}}</p>
                  </div>

                  <div class="windDirection">
                    <p>Wind: </p>
                    <p>Swell: </p>
                  </div>
               
                  <div class="swellDirection">
                  </div>
                
             
              
        
                
             <!--    <div>MSW rating: {{log.forecast.fadedRating + log.forecast.solidRating}}</div> -->

                

                

                <label for="myRate" id="myRate">My Rating</label>
                <span name="myRate" id="myRatingContainer"></span>

    </div>  
                <!-- <div class="msw-ssa msw-ssa-10"></div> -->

            
                <div class="modal-footer">

                <!-- Ref these to larger img show-pages OR hover over expands img -->

                  <img src="{{log.forecast.charts.swell}}" class="swellImg pull-left"> 

                  <img src="{{log.forecast.charts.period}}" class="chartImg pull-left">
                  <img src="{{log.forecast.charts.wind}}" class="chartImg pull-left">
                  <img src="{{log.forecast.charts.pressure}}" class="chartImg pull-left">
                  
                  <button ng-click="removeLog(log)" class="btn btn-sm btn-danger pull-right close" data-dismiss="modal">Delete Log</button>
                </div>
 </div>
</div>

  
