<div class="modal fade"> 
          <div class="modal-dialog"> 
            <div class="modal-content"> 
              <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
                <h3 class="modal-title">{{log.spot_name}}</h3>  
                <h4>{{log.date | date}} </h4>
                <p>{{log.description}}</p>
                <p>{{log.forecast}}</p>
              </div> 
            
            </div> 
    </div>  
</div>