/*** Calendar ***/

.calAlert{
  width: 595px; float: right; margin-bottom: 5px;
}

.calXBtn{
  float: right; margin-top: -5px; margin-right: -5px;
}

.calWell{
  float: left; margin-bottom: 40px;
}

.fc-event.openSesame .fc-event-skin{
  background-color: rgb(229, 229, 11);
  color: black;
}

.fc-event.customFeed .fc-event-skin{
  background-color: rgb(132, 222, 175);
  color: black;
}

.calTools{
  margin-bottom: 10px;
}

.modal-content{
}

/* NAVBAR */

.bottom{
  margin-bottom: 100px;
}

.navbar{
  opacity: .70;
}

.page-scroll{
  margin-right: 41px;
  opacity: 1;
}

.logout{

  margin-top: -5px;
  padding: 3px 6px;
}

#about:hover{
  cursor: pointer;
}

#about{
    margin-top: 16px;
}

#mark{
    font-size: 24px;
    margin-bottom: -5px;
}

#contact{
  margin-bottom: -2px;
}

/*less than or equal to 500px*/
@media(max-width:768px){
  #about{
    margin-top: 9px;
  }
}

.userImage{
    margin-top: 2%;
    height: 45px;
}
